html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #B3A793;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

header {
  text-align: center;
  background-color: #6D878E;
  color: #ffffff;
  font-size: 20px;
}

footer {
  background-color: #6D878E;
  color: #ffffff;
  font-weight: bold;
  text-align: right;
}

nav {
  color: #ffffff;
  background-color: #7E99A0;
}

nav ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  position: relative;
}
nav ul li a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 15px 14px;
  transition: 0.3s linear;
}
nav ul li:hover {background: #126d9b;}
nav ul li ul {
  border-bottom: 5px solid #2ba0db;
  display: none;
  position: absolute;
  width: 250px;
}
nav ul li ul li {
  border-top: 1px solid #444;
  display: block;
}
nav ul li ul li:first-child {border-top: none;}
nav ul li ul li a {
  background: #373737;
  display: block;,
  padding: 10px 14px;
}
nav ul li ul li a:hover {background: #126d9b;}

button {
  background-color: #008CBA;
  color: #ffffff;
  font-size: 14px;
  border: none;
  margin: 2px;
  padding: 10px;
  display: inline-block;
  font-style: oblique;
}

#content {
  background-color: #A8C2AA;
  color: black;
  font-size: 14px;
}